@model AgricultureApp.Models.RegisterViewModel
@{
	ViewBag.Title = "Driver";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
	.form-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 70%;
	}

	.form-row {
		flex: 0 0 45%;
		margin-bottom: 20px;
	}

		.form-row label {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
		}

		.form-row input,
		.form-row select {
			display: block;
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
		}

			.form-row input[type="file"] {
				padding: 0;
			}

			.form-row input[type="submit"] {
				background-color: #007bff;
				color: #fff;
				border: none;
				border-radius: 5px;
				padding: 10px 20px;
				cursor: pointer;
			}
</style>

<center>
	<h2>Register Driver</h2>
	<form class="form-container" action="@Url.Action("Driver", "Account")" method="post" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<div style="padding:2%; float:left">
			<div class="form-row">
				@Html.LabelFor(m => m.FirstName)
				@Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
			</div>
			<div class="form-row">
				@Html.LabelFor(m => m.LastName)
				@Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
			</div>
			<div class="form-row">
				@Html.LabelFor(m => m.Email)
				@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email" } })
			</div>
			<div class="form-row">
				@Html.LabelFor(m => m.Gender)
				@{
					var genderList = new SelectList(new List<SelectListItem>
										{
		new SelectListItem { Text = "Male", Value = "Male" },
		new SelectListItem { Text = "Female", Value = "Female" },
	}, "Value", "Text");
				}
				@Html.DropDownListFor(m => m.Gender, genderList, "-- Select Gender --", new { @class = "form-control", required = "required" })
			</div>
		</div>
		<div style="padding:2%; float:right">
			<div class="form-row">
				@Html.Label("Profile Picture")
				<input type="file" name="img_upload" accept=".jpeg,.jpg,.png" onchange="readURL(this);" id="file-upload" class="form-control-file d-none" required="required" />
			</div>
			<div class="form-row">
				@Html.LabelFor(m => m.ContactNo)
				@Html.EditorFor(m => m.ContactNo, new { htmlAttributes = new { @class = "form-control", required = "required", type = "tel" } })
			</div>
			<div class="form-row">
				@Html.LabelFor(m => m.Vehicle)
				@Html.EditorFor(m => m.Vehicle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
			</div>
			<div class="form-row">
				@Html.LabelFor(m => m.CarRegNo)
				@Html.EditorFor(m => m.CarRegNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
			</div>
			<div class="form-row">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</div>
	</form>
</center>




