@model IEnumerable<AgricultureApp.Models.Ratingz.Rating>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RatingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RatingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RatingId })
            </td>
            <td>
                <button><a class="btn btn-success" href="@Url.Action("Create", "Rating", new {id = item.GameId})">Rate</a></button>
            </td>
        </tr>
    }

</table>
