@model AgricultureApp.Models.Product.Item

@{
	ViewBag.Title = "Create";
}

<style>
    .button1 {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        margin-right: 0.5em;
        border: none;
        outline: none;
        transition: .4s ease-in-out;
        background-color: #18453b;
        color: white;
        text-align: center;
    }
    
    .button1:hover {
        background-color: #006400;
        color: #2e8b57;
    }

    .button {
        display: flex; /* Use flexbox to center content */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        margin-right: 0.5em;
        border: none;
        outline: none;
        transition: 0.4s ease-in-out;
        background-color: #013220;
        color: white;
    }

        .button:hover {
            background-color: #006400;
            color: white;
        }

</style>

<h2>Create</h2>


@using (Html.BeginForm(actionName: "Create", controllerName: "Items", routeValues: null, method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Item</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.catID, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("catID", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.catID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<textarea name="description" style="width:300px"></textarea>
			@Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.qty, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.isForRentals, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.CheckBoxFor(model => model.isForRentals, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.isForRentals, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.rentalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.rentalPrice, new { htmlAttributes = new { @class = "form-control",placeholder="Leave blank if item is not available for rental" } })
			@Html.ValidationMessageFor(model => model.rentalPrice, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.picture, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input type="file" name="img_upload" accept=".jpeg,.jpg,.png,.jfif" onchange="readURL(this);" class="form-control" required="required" />
		</div>
	</div>

		<div class="button">
			<input type="submit" value="Create" class="button1" />
		</div>
</div>
}

